<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>OTP Generator</title>    
</head>
<body>
    <div class="container">
        <h2>OTP Generator</h2>
        <form action="{{url_for('signin')}}" method="post">
            <label for="mobileNumber">Mobile Number:</label>
            <input type="tel" id="mobileNumber" name="mobileNumber" placeholder="Enter your mobile number" required>
            
            <button type="submit" id="generateOtpBtn">Generate OTP</button>
        </form>
    </div>
    <!-- <script src="script.js"></script> -->
</body>
</html>
